#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&kp ESC    &kp N1  &kp N2  &kp N3  &kp N4    &kp N5                     &kp N6     &kp N7    &kp N8     &kp N9   &kp N0    &kp MINUS
&kp ESC    &kp Q   &kp W   &kp E   &kp R     &kp T                      &kp Y      &kp U     &kp I      &kp O    &kp P     &kp BSPC
&kp LSHFT  &kp A   &kp S   &kp D   &kp F     &kp G                      &kp H      &kp J     &kp K      &kp L    &kp SEMI  &kp SQT
&kp LCTRL  &kp Z   &kp X   &kp C   &kp V     &kp B    &trans    &trans  &kp N      &kp M     &kp COMMA  &kp DOT  &kp FSLH  &kp RSHFT
                           &trans  &kp LGUI  &kp RET  &mo 1     &mo 2   &kp SPACE  &kp RGUI  &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        layer_1 {
            bindings = <
&trans   &trans  &trans      &trans      &trans     &trans                             &trans    &trans    &trans  &trans     &trans  &trans
&kp TAB  &kp N1  &kp N2      &kp N3      &kp N4     &kp N5                             &kp N6    &kp N7    &kp N8  &kp N9     &kp N0  &trans
&trans   &trans  &kp C_PREV  &kp C_NEXT  &kp C_PP   &kp C_VOLUME_UP                    &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &trans  &trans
&trans   &trans  &trans      &trans      &kp PSCRN  &kp C_VOL_DN     &trans    &trans  &trans    &trans    &trans  &trans     &trans  &trans
                             &trans      &trans     &trans           &mo 3     &mo 3   &trans    &kp RALT  &trans
            >;
        };

        layer_2 {
            bindings = <
&trans   &trans    &trans  &trans         &trans     &trans                       &trans     &trans    &trans            &trans    &trans    &trans
&kp TAB  &kp EXCL  &kt AT  &kp HASH       &kp DLLR   &kp PRCNT                    &kp CARET  &kp AMPS  &kp KP_MULTIPLY   &kp LPAR  &kp RPAR  &kp DEL
&trans   &trans    &trans  &kp PIPE       &kp EQUAL  &kp MINUS                    &trans     &kp LT    &kp GREATER_THAN  &kp LBRC  &kp RBRC  &kp GRAVE
&trans   &trans    &trans  &kp BACKSLASH  &kp PLUS   &kp UNDER  &trans    &trans  &trans     &trans    &trans            &kp LBKT  &kp RBKT  &kp TILDE
                           &trans         &kp LALT   &trans     &mo 3     &mo 3   &trans     &trans    &trans
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans   &trans   &trans
&trans  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5                    &kp F6  &kp F7  &kp F8  &kp F9   &kp F10  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &kp F11  &kp F12  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans   &trans   &trans
                        &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans
            >;
        };
    };
};
